<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Dashboard Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	
		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<p> Admin Dashboard Page </p> 
				</div>
				<div class="panel-body">
					
					<h3> 
					      <span th:utext="${userName}"></span>  ! feel at home.... 
					</h3>
					
				</div>
				  <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
				   
			<div class="row">
			<div class="col-md-6">
				<form>
					<h2>Add Presentation</h2> 
					
					<div class="form-group">
						<div class="col-sm-9">
						<label>Topic</label>
						<input class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						<label>Subject</label>
						<input class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
						<label>Supervisor</label>
						<input class="form-control" /> 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Add</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
				</form>
			</div>
			
			
			<div class="col-md-6">
				 <h2>Current Presentations</h2> 
				 <table class="table table-striped">
				  <thead>
				     <tr> 
				       <th> #</th>
				       <th> Topic</th>
				       <th> Subject</th>
				       <th> Supervisor</th>
				       <th> Date</th>
				     </tr>
				  </thead>
				  <tbody>
				     <tr> 
				       <td>1 </td>
				       <td> Computer</td>
				       <td> Computational theory</td>
				       <td> Mr. adcd</td>
				       <td> No date supplied</td>
				     </tr>
				  </tbody>
				 </table>
			</div>
		</div>
				  
				  
				  
				  
			</div>
			
			
			
			
			
			<form th:action="@{/logout}" method="get">
			<button class="btn btn-sm btn-primary btn-block" name="registration"
				type="Submit">Logout</button>
		     </form>  
		
		</div>
		
	</div>
</body>
</html>